**First run this cell:**

In [52]:
##Some code to run at the beginning of the file, to be able to show images in the notebook
##Don't worry about this cell but run it

#Print the plots in this screen
%matplotlib inline 

#Be able to plot images saved in the hard drive
from IPython.display import Image,display

#Make the notebook wider
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:90% !important; }</style>"))

## In class 1
- Create a list named *spam* with numbers from 1 to 10 numbers 

- Calculate the sum of the list 

- Check the value of the third element and the last one

- Print the first two elements

In [ ]:
#Create a list of numbers between 1 and 10
spam = 
print(spam)

#Calculate the sum of the list 
sum_spam = 
print(sum_spamn)


#Check if the first element is larger or equal than the last element  (>=)
third_element = 
last_elment = 
print(third_element)
print(last_elment)

#Print the first two elements
first_two_eleemnts = spam[:]
print(first_two_eleemnts)

## In class 2
- import numpy as np

- Convert the list to a numpy array

- Calculate the mean of the list spam from the previous exercise

- Filter the numbers smaller than 3 OR greater than 8

In [ ]:
#import numpy as np
import numpy as np

#Convert the list to an array
array = np.array(spam)
print(array)


#Calculate the mean of the list
mean =
print(mean)


#Filter the even numbers (tip: the remainder of dividing an even number by 2 is 0, check the %) and save the results to array_even
condition_lw3 = 
condition_gr8 = 
array_even = array[filter_condition]
print(array_even)

## In class 3
- Read a csv file
- See the head of the file
- Print the type of variables
- Print the descriptives statistics

In [8]:
#import pandas as pd
import pandas as pd

#Read a standard csv, no strange things
filename = "data/alcohol.dta"
df_st = pd.read_stata(filename)

#Display the head

   adults  kids  income  consume
0       2     2     758        1
1       2     3    1785        1
2       3     0    1200        1
3       1     0     545        1
4       4     1     547        1

In [10]:
#Display the types of variables
df_st.

adults      int8
kids        int8
income     int16
consume     int8
dtype: object

In [9]:
#Describe the dataset
df_st.

            adults         kids       income      consume
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      2.012000     0.722000   649.528000     0.766000
std       0.815181     1.078833   460.657826     0.423584
min       1.000000     0.000000    12.000000     0.000000
25%       2.000000     0.000000   295.000000     1.000000
50%       2.000000     0.000000   562.500000     1.000000
75%       2.000000     1.000000   887.500000     1.000000
max       6.000000     5.000000  3846.000000     1.000000

## Data visualization
- We'll talk about data visualization theory in another class but as a general rule remember that SIMPLE IS BETTER (play the video in the cell below)

In [1]:
%%html
<!-- TODO -->
<iframe width="560" height="315" src="https://zippy.gfycat.com/ImprobableFemaleBasenji.webm" frameborder="0" allowfullscreen></iframe>

In [7]:
#The only honest pie chart
Image(url="http://www.datavis.ca/gallery/images/pies/PiesIHaveEaten.png")

---